# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Local Config (Keep config.example.json)
config.json
params.json
# config.example.json

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Data
data/
1275/

# Exports
.Exports/
Exports/
*.pdf
*.png

# Backups and temporary files
.old/
old/
*copy.py
